body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.container {
    margin-top: 5vh;
    max-width: 90%;
    width: 350px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
}

.display-container {
    height: 80px;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.display-container input {
    height: 78px;
    border: 2px solid white;
    border-radius: 8px;
    width: 100%;
    font-size: 2rem;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin: 5px;
}

button {
    height: 60px;
    min-width: 60px;
    border-radius: 40px;
    background-color: rgb(44, 44, 44);
    border: none;
    color: white;
    font-size: 1.2rem;
    transition: transform 0.1s ease-in-out;
}

button:active {
    transform: scale(0.95);
}

.sb {
    background-color: rgb(195, 55, 5);
}

/* Responsive Adjustments */
@media (max-width: 400px) {
    .container {
        width: 95%;
    }
    
    button {
        height: 50px;
        font-size: 1rem;
    }

    .display-container input {
        font-size: 1.8rem;
    }
}
